

 .jumbotron {
 	background-color: silver;
	text-align:center;
	font-family: 'Caveat Brush', cursive;

 }

 
.content {
	margin: 0 auto;
	width: 33%;
	font-family: Georgia;
	font-size: 20px;
}

.image {
	
	background-image: url("../images/psychic.jpg");
}